<a href="https://colab.research.google.com/github/HsuLiSheng/stock-related/blob/main/1_%E8%AE%80%E5%8F%96%E8%82%A1%E7%A5%A8%E5%9F%BA%E6%9C%AC%E8%B3%87%E6%96%99.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [ ]:
url = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=1&issuetype=1&industry_code=&Page=1&chklike=Y"
###利用 requests.get 模擬我們連到該網頁，下載網頁的原始碼～
response = requests.get(url)
###pd.read_html 將我們剛剛爬取到的網頁原始碼 res.text 中的表格給萃取出來
list1 = pd.read_html(response.text)[0] ###回傳為list --> 用[0]把其中股票資料(pandas形式)讀取出來

In [ ]:
list1

,0,1,2,3,4,5,6,7,8,9
0,頁面編號,國際證券編碼,有價證券代號,有價證券名稱,市場別,有價證券別,產業別,公開發行/上市(櫃)/發行日,CFICode,備註
1,1,TW0001101004,1101,台泥,上市,股票,水泥工業,1962/02/09,ESVUFR,NaN
2,2,TW0001102002,1102,亞泥,上市,股票,水泥工業,1962/06/08,ESVUFR,NaN
3,3,TW0001103000,1103,嘉泥,上市,股票,水泥工業,1969/11/14,ESVUFR,NaN
4,4,TW0001104008,1104,環泥,上市,股票,水泥工業,1971/02/01,ESVUFR,NaN
...,...,...,...,...,...,...,...,...,...,...
961,961,TW0009944009,9944,新麗,上市,股票,其他業,2002/08/26,ESVUFR,NaN
962,962,TW0009945006,9945,潤泰新,上市,股票,其他業,1992/04/30,ESVUFR,NaN
963,963,TW0009946004,9946,三發地產,上市,股票,建材營造業,2013/09/17,ESVUFR,NaN
964,964,TW0009955005,9955,佳龍,上市,股票,其他業,2008/01/21,ESVUFR,NaN
965,965,TW0009958009,9958,世紀鋼,上市,股票,鋼鐵工業,2008/03/12,ESVUFR,NaN

In [ ]:
list1.columns = list1.iloc[0,:]
list1 = list1[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
list1 = list1.iloc[1:,:]
list1

0   有價證券代號 有價證券名稱 市場別    產業別 公開發行/上市(櫃)/發行日
1     1101     台泥  上市   水泥工業     1962/02/09
2     1102     亞泥  上市   水泥工業     1962/06/08
3     1103     嘉泥  上市   水泥工業     1969/11/14
4     1104     環泥  上市   水泥工業     1971/02/01
5     1108     幸福  上市   水泥工業     1990/06/06
..     ...    ...  ..    ...            ...
961   9944     新麗  上市    其他業     2002/08/26
962   9945    潤泰新  上市    其他業     1992/04/30
963   9946   三發地產  上市  建材營造業     2013/09/17
964   9955     佳龍  上市    其他業     2008/01/21
965   9958    世紀鋼  上市   鋼鐵工業     2008/03/12

[965 rows x 5 columns]

In [ ]:
path = '/content/drive/Shareddrives/python 股票交易/stock_all'
list1.to_excel(path+'/stock.xlsx', index=False)

In [ ]:
class all_stock:
  page = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=1&issuetype=1&industry_code=&Page=1&chklike=Y"
  path = '/content/drive/Shareddrives/python 股票交易/stock_all'

  def __init_(self):
    pass

  def classification(df):
    classes = df.loc[:,'產業別']
    classes1 = classes.tolist()
    class_name = []
    for i in classes1:
      if i not in class_name:
        class_name.append(i)
    return class_name 

  def extract_stock(list1,classes):
    name = list1.loc[:,"產業別"] == classes
    name1 = name.tolist()
    df = pd.DataFrame(columns = ["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"])
    for i in range(len(name1)):
      if name1[i]:
        df = df.append(list1.iloc[i,:], ignore_index=True) ### df.append前面要有df存資料
    return df

In [ ]:
stock = all_stock
path = stock.path
df = pd.read_excel(path+'/stock.xlsx')
class_name = stock.classification(df)
class_name

['水泥工業',
 '食品工業',
 '塑膠工業',
 '建材營造業',
 '汽車工業',
 '其他業',
 '紡織纖維',
 '貿易百貨業',
 '電子零組件業',
 '電機機械',
 '生技醫療業',
 '電器電纜',
 '化學工業',
 '玻璃陶瓷',
 '造紙工業',
 '鋼鐵工業',
 '橡膠工業',
 '航運業',
 '電腦及週邊設備業',
 '半導體業',
 '其他電子業',
 '通信網路業',
 '光電業',
 '電子通路業',
 '資訊服務業',
 '油電燃氣業',
 '觀光事業',
 '金融保險業']

In [ ]:
name = '航運業'
df1 = stock.extract_stock(df,name)
df1

   有價證券代號 有價證券名稱 市場別  產業別 公開發行/上市(櫃)/發行日
0    2208     台船  上市  航運業     2008/12/22
1    2603     長榮  上市  航運業     1987/09/21
2    2605     新興  上市  航運業     1989/12/08
3    2606     裕民  上市  航運業     1990/12/08
4    2607     榮運  上市  航運業     1990/12/14
5    2608   嘉里大榮  上市  航運業     1990/12/20
6    2609     陽明  上市  航運業     1992/04/20
7    2610     華航  上市  航運業     1993/02/26
8    2611     志信  上市  航運業     1993/10/28
9    2612     中航  上市  航運業     1994/10/20
10   2613     中櫃  上市  航運業     1995/01/20
11   2615     萬海  上市  航運業     1996/05/16
12   2617     台航  上市  航運業     1998/06/24
13   2618    長榮航  上市  航運業     2001/09/17
14   2630     亞航  上市  航運業     2018/02/22
15   2633   台灣高鐵  上市  航運業     2016/10/27
16   2634     漢翔  上市  航運業     2014/08/25
17   2636   台驊投控  上市  航運業     2016/12/22
18   2637  慧洋-KY  上市  航運業     2010/12/01
19   2642    宅配通  上市  航運業     2013/12/12
20   5607    遠雄港  上市  航運業     2004/12/02
21   5608    四維航  上市  航運業     2003/08/25
22   8367   建新國際  上市  航運業     2018/09/12

In [ ]:
url = 'https://isin.twse.com.tw/isin/C_public.jsp?strMode=4'
response = requests.get(url)
list1 = pd.read_html(response.text)[0] ###回傳為list --> 用[0]把其中股票資料(pandas形式)讀取出來
list1

,0,1,2,3,4,5,6
0,有價證券代號及名稱,國際證券辨識號碼(ISIN Code),上市日,市場別,產業別,CFICode,備註
1,上櫃認購(售)權證,上櫃認購(售)權證,上櫃認購(售)權證,上櫃認購(售)權證,上櫃認購(售)權證,上櫃認購(售)權證,上櫃認購(售)權證
2,70309P 合晶元富18售06,TW21Z70309P0,2021/11/29,上櫃,NaN,RWSCPE,NaN
3,70310P 合晶元富18售07,TW21Z70310P8,2021/11/29,上櫃,NaN,RWSCPE,NaN
4,70318P 群聯元富18售03,TW21Z70318P1,2021/12/01,上櫃,NaN,RWSCPE,NaN
...,...,...,...,...,...,...,...
7959,01017S 93中信貸d,TW00001017S6,2004/08/10,上櫃,NaN,DAVUBR,NaN
7960,01109S 051中租賃A,TW00001109S1,2016/08/24,上櫃,NaN,DAFUBR,NaN
7961,01110S 051中租賃B,TW00001110S9,2016/08/24,上櫃,NaN,DAFUBR,NaN
7962,01111S 081中租賃A,TW00001111S7,2019/12/11,上櫃,NaN,DAFUFR,NaN
7963,01112S 081中租賃B,TW00001112S5,2019/12/11,上櫃,NaN,DAFUFR,NaN

In [ ]:
list1.columns = list1.iloc[0,:]
list1 = list1[["有價證券代號及名稱",'上市日',"市場別","產業別"]]
list1 = list1.iloc[7152:7951,:]
list1.insert(0,'有價證券代號','')
list1

0    有價證券代號   有價證券代號及名稱         上市日 市場別    產業別
7152          1240　茂生農經  2018/08/08  上櫃  農業科技業
7153         1258　其祥-KY  2011/12/12  上櫃   食品工業
7154            1259　安心  2011/12/15  上櫃   觀光事業
7155            1264　德麥  2015/04/09  上櫃   食品工業
7156          1268　漢來美食  2017/09/27  上櫃   觀光事業
...     ...         ...         ...  ..    ...
7946            9949　琉園  2003/11/21  上櫃  文化創意業
7947           9950　萬國通  2004/02/17  上櫃   塑膠工業
7948            9951　皇田  2003/12/18  上櫃   電機機械
7949           9960　邁達康  2004/12/06  上櫃  貿易百貨業
7950            9962　有益  2006/07/10  上櫃   鋼鐵工業

[799 rows x 5 columns]

In [ ]:
for i in range(len(list1.index)):
  splited = list1['有價證券代號及名稱'].iloc[i].split('\u3000')
  list1['有價證券代號'].iloc[i] = splited[0]
  list1['有價證券代號及名稱'].iloc[i] = splited[1]

list1

0    有價證券代號 有價證券代號及名稱         上市日 市場別    產業別
7152   1240      茂生農經  2018/08/08  上櫃  農業科技業
7153   1258     其祥-KY  2011/12/12  上櫃   食品工業
7154   1259        安心  2011/12/15  上櫃   觀光事業
7155   1264        德麥  2015/04/09  上櫃   食品工業
7156   1268      漢來美食  2017/09/27  上櫃   觀光事業
...     ...       ...         ...  ..    ...
7946   9949        琉園  2003/11/21  上櫃  文化創意業
7947   9950       萬國通  2004/02/17  上櫃   塑膠工業
7948   9951        皇田  2003/12/18  上櫃   電機機械
7949   9960       邁達康  2004/12/06  上櫃  貿易百貨業
7950   9962        有益  2006/07/10  上櫃   鋼鐵工業

[799 rows x 5 columns]

In [ ]:
list1.rename(columns={"有價證券代號及名稱": "有價證券名稱"},inplace=True)
list1

0    有價證券代號 有價證券名稱         上市日 市場別    產業別
7152   1240   茂生農經  2018/08/08  上櫃  農業科技業
7153   1258  其祥-KY  2011/12/12  上櫃   食品工業
7154   1259     安心  2011/12/15  上櫃   觀光事業
7155   1264     德麥  2015/04/09  上櫃   食品工業
7156   1268   漢來美食  2017/09/27  上櫃   觀光事業
...     ...    ...         ...  ..    ...
7946   9949     琉園  2003/11/21  上櫃  文化創意業
7947   9950    萬國通  2004/02/17  上櫃   塑膠工業
7948   9951     皇田  2003/12/18  上櫃   電機機械
7949   9960    邁達康  2004/12/06  上櫃  貿易百貨業
7950   9962     有益  2006/07/10  上櫃   鋼鐵工業

[799 rows x 5 columns]

In [ ]:
path = '/content/drive/Shareddrives/python 股票交易/stock_all'
list1.to_excel(path+'/stock_上櫃.xlsx', index=False)