<a href="https://colab.research.google.com/github/HsuLiSheng/stock-related/blob/main/2_%E5%90%84%E9%A1%9E%E5%88%A5%E8%82%A1%E7%A5%A8%E8%B3%87%E8%A8%8A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from urllib.request import urlopen
import datetime
import json
import pandas as pd

###line的傳送碼
token = "ZCmEPQ0nXHIB25Pz8IPWTuWPUNkZxL1NOa2IWasGHz6"

In [ ]:
#now = datetime.datetime.now()
date = datetime.date.today()
#print(date.weekday())
print(datetime.datetime.today().strftime('%A'))


if date.weekday() >4:
   delta = date.weekday() - 4
   date = date - datetime.timedelta(days=delta)
   date = datetime.date.strftime(date,"%Y%m%d")
else:   
   date = datetime.date.strftime(date,"%Y%m%d")

#yes = date - datetime.timedelta(days=1)
print(date)

Monday
20221031

In [ ]:
closedate = ['20220909','20221010']
if date in closedate:
  date = input('新的日期')

新的日期20221007

In [ ]:
classcification = {"全部":"ALL", "創新板股票":"TIB", "水泥工業":"01", "食品工業":"02", "塑膠工業":"03", "紡織纖維":"04", "電機機械":"05", "電器電纜":"06", 
           "化學生技醫療":"07", "化學工業":"21", "生技醫療業":"22", "玻璃陶瓷":"08", "造紙工業":"09" ,"鋼鐵工業":"10", "橡膠工業":"11", "汽車工業":"12",
           "電子工業":"13", "半導體業":"24", "電腦及週邊設備業":"25" ,"光電業":"26", "通信網路業":"27", "電子零組件業":"28", "電子通路業":"29",
           "資訊服務業":"30", "其他電子業":"31", "建材營造":"14", "航運業":"15", "觀光事業":"16", "金融保險":"17", "貿易百貨":"18", "油電燃氣業":"23",
           "綜合":"19", "其他":"20"}

In [ ]:
def fundamental(data,index):
  try:
    if index == '殖利率(%)':
      ind = 2
    elif index == '本益比':
      ind = 4
    elif index == '股價淨值比': 
      ind = 5

    if len(data) > 30:
      rank = sorted(data, key=lambda x: float(x[ind].replace(',','')), reverse=True)[:25]
    else:
      rank = sorted(data, key=lambda x: float(x[ind].replace(',','')), reverse=True)
    return rank
    
  except:
    print('非有效基本面查詢')
    return

In [ ]:
###
###基本面盤選股
###

'''
name = '航運業'
#date = '20220818'
print('查詢日期:'+ date)
print('查詢股票類別:'+name)
html =urlopen ('https://www.twse.com.tw/exchangeReport/BWIBBU_d?response=json&date='+ date + '&selectType='+ classcification[name])
content = html.read().decode('utf-8')
jcontent = json.loads(content) ###利用json把數據整理更好看
print(jcontent['fields'])
data = jcontent['data']
data = [i for i in data if i[4]!='-' ]
'''

查詢日期:20220819
查詢股票類別:航運業
['證券代號', '證券名稱', '殖利率(%)', '股利年度', '本益比', '股價淨值比', '財報年/季']

In [ ]:
'''
extract = fundamental(data,jcontent['fields'][2])
extract[:5]
'''

[['2609', '陽明', '23.15', 110, '1.36', '1.08', '111/2'],
 ['2603', '長榮', '18.37', 110, '1.42', '1.15', '111/2'],
 ['2636', '台驊投控', '14.94', 110, '3.20', '1.29', '111/2'],
 ['2615', '萬海', '11.94', 110, '1.75', '1.23', '111/2'],
 ['2637', '慧洋-KY', '8.08', 110, '3.99', '1.18', '111/2']]

In [ ]:
###
###外資買賣總表
###

#date = '20220818'
print('查詢日期:'+ date)
html1 =urlopen ('https://www.twse.com.tw/fund/TWT38U?response=json&date='+ date)
content1 = html1.read().decode('utf-8')
jcontent1 = json.loads(content1) ###利用json把數據整理更好看
#print(jcontent1['fields'][1:6])
data1 = jcontent1['data']
data1 = [i[1:6] for i in data1]

data1 = pd.DataFrame(data1)
data1.columns = ['代號','名稱','買進(張)','賣出(張)','買賣超(張)']

for i in range(len(data1.index)):
  for j in range(2,5):
    data1.iloc[i,j] = int(int(data1.iloc[i,j].replace(',',''))/1000)
data1.iloc[:20]

查詢日期:20221031

        代號              名稱  買進(張)  賣出(張) 買賣超(張)
0   3481    群創              51413  37132  14280
1   2303    聯電              27404  15160  12244
2   6770     力積電            13122   2858  10264
3   2330     台積電            28659  20425   8233
4   00637L     元大滬深300正2    14319   8057   6261
5   2887     台新金            16868  11243   5625
6   2498     宏達電             7921   2500   5421
7   2337    旺宏               8476   3470   5006
8   2313    華通               8190   3436   4754
9   2603    長榮              11412   6816   4596
10  2388    威盛               8452   4771   3681
11  1402     遠東新             8293   4843   3450
12  2356     英業達             6719   3581   3138
13  2449      京元電子           4250   1599   2651
14  2368     金像電             4811   2233   2577
15  2353    宏碁               6716   4147   2568
16  1760      寶齡富錦           5892   3349   2543
17  2614    東森               2913    480   2433
18  6116    彩晶               4396   2003   2393
19  3047    訊舟               3408   1030   2378

In [ ]:
###(上市)
###投信買賣總表
###

#date = '20220818'
print('查詢日期:'+ date)
html1 =urlopen ('https://www.twse.com.tw/fund/TWT44U?response=json&date='+ date)
content1 = html1.read().decode('utf-8')
jcontent1 = json.loads(content1) ###利用json把數據整理更好看
#print(jcontent1['fields'][1:6])
data1 = jcontent1['data']
data1 = [i[1:6] for i in data1]
data1 = pd.DataFrame(data1)
data1.columns = ['代號','名稱','買進(張)','賣出(張)','買賣超(張)']

for i in range(len(data1.index)):
  for j in range(2,5):
    data1.iloc[i,j] = int(int(data1.iloc[i,j].replace(',',''))/1000)
data1.iloc[:20]

#data_stock = [ i for i in data1 if i[1][:4]=='台康生技']
#data_stock

查詢日期:20221031

        代號              名稱 買進(張) 賣出(張) 買賣超(張)
0   3017    奇鋐               950     0    950
1   3037    欣興               906     1    905
2   1760      寶齡富錦           872     0    872
3   2454     聯發科             867    29    838
4   2303    聯電               733    10    723
5   2368     金像電             715     0    715
6   2408     南亞科             720   118    602
7   2313    華通               513     0    513
8   8046    南電               558    49    509
9   2345    智邦               514    20    494
10  2308     台達電             548    71    477
11  5876      上海商銀           423     0    423
12  1605    華新               401     0    401
13  1802    台玻               483    95    388
14  3035    智原               381     0    381
15  2330     台積電             428    85    342
16  3044    健鼎               298     0    298
17  6770     力積電             248     0    248
18  2412     中華電             237    28    209
19  2383     台光電             201     0    201

In [ ]:
###(上市)
###三大法人買賣總表
###

print('查詢日期:'+ date)
html1 =urlopen ('https://www.twse.com.tw/fund/T86?response=json&date='+ date+ '&selectType=ALLBUT0999&_=1666103001664')
content1 = html1.read().decode('utf-8')
jcontent1 = json.loads(content1) ###利用json把數據整理更好看
#print(jcontent1['fields'][1:6])
data1 = jcontent1['data']
data_total = []

for i in range(len(data1)):
  if int(data1[i][4].replace(',','')) > 0 and int(data1[i][10].replace(',','')) > 0:
    data_total.append(data1[i][:5] + data1[i][8:12])
  else:
    continue  


print('外資投信皆買超數量: '+ str(len(data_total)) +' 家')    
data_total = pd.DataFrame(data_total)
data_total.columns = ['代號','名稱','外資買進','外資賣出','外資買賣超','投信買進','投信賣出','投信買賣超','自營商買賣超']
data_total.insert(2,'產業','')

path = '/content/drive/Shareddrives/python 股票交易/stock_all'
df_uponcase = pd.read_excel(path+'/stock.xlsx')

for i in range(len(data_total.index)):
   ###藉由loc把買超股票名稱帶入到上櫃公司代號中找到特定一列
   ###tolist會只把公司產業別轉成list，剩下的index以及其他一些零碎的表示會無視
   try:
     for j in range(len(data_total['名稱'].iloc[i])):
         if data_total['名稱'].iloc[i][j]==' ':
            length = j
            break
     industry_name = df_uponcase['產業別'].loc[df_uponcase["有價證券名稱"]==data_total['名稱'].iloc[i][:length]].tolist()
     data_total['產業'].iloc[i] = industry_name[0]
   except:
     data_total['產業'].iloc[i] = ''  

for i in range(len(data_total.index)):   
  for j in range(3,len(data_total.columns)):
    data_total.iloc[i,j] = int(int(data_total.iloc[i,j].replace(',',''))/1000)

data_total

查詢日期:20221031
外資投信皆買超數量: 127 家

,代號,名稱,產業,外資買進,外資賣出,外資買賣超,投信買進,投信賣出,投信買賣超,自營商買賣超
0,2303,聯電,半導體業,27404,15160,12244,733,10,723,4738
1,6770,力積電,半導體業,13122,2858,10264,248,0,248,253
2,2330,台積電,半導體業,28659,20425,8233,428,85,342,362
3,2498,宏達電,通信網路業,7921,2500,5421,1,0,1,1311
4,2313,華通,電子零組件業,8190,3436,4754,513,0,513,-293
...,...,...,...,...,...,...,...,...,...,...
122,9941,裕融,其他業,421,378,43,0,0,0,-38
123,2464,盟立,其他電子業,16,14,2,1,0,1,0
124,1519,華城,電機機械,277,192,85,3,0,3,-91
125,3005,神基,電腦及週邊設備業,830,798,32,2,0,2,-124
126,2009,第一銅,鋼鐵工業,2341,1905,436,1,0,1,-784

In [ ]:
###(上櫃)
###投信買賣總表
###

year = int(date[:4])-1911
date_ROC = str(year) + '/' + date[4:6] + '/' + date[6:]
print('查詢日期:'+ date_ROC)
html1 =urlopen ('https://www.tpex.org.tw/web/stock/3insti/sitc_trading/sitctr_result.php?l=zh-tw&t=D&type=buy&d='+ date_ROC +'&_=1661526509268')
content1 = html1.read().decode('utf-8')
jcontent1 = json.loads(content1) ###利用json把數據整理更好看
data1 = jcontent1['aaData']
data1 = pd.DataFrame(data1)
data1.columns = ['排行','代號','名稱','買進(張)','賣出(張)','買賣超(張)']

for i in range(len(data1.index)):
  for j in range(3,6):
    data1.iloc[i,j] = int(data1.iloc[i,j].replace(',',''))

data1.drop(columns=['排行'],inplace=True)
data1.iloc[:20]

查詢日期:111/10/31

      代號    名稱 買進(張) 賣出(張) 買賣超(張)
0   8358    金居  1554     0   1554
1   5425    台半  1133     0   1133
2   8069    元太   487    60    427
3   6279    胡連   429    20    409
4   6589  台康生技   400     0    400
5   3587    閎康   372     0    372
6   3680    家登   306     0    306
7   4931   新盛力   304     0    304
8   8050    廣積   230     0    230
9   5347    世界   207     0    207
10  6712    長聖   169     0    169
11  3675    德微   165     0    165
12  6245    立端   110     0    110
13  3558    神準   102     0    102
14  6488   環球晶    66     0     66
15  4743    合一    60     0     60
16  8916    光隆    60     0     60
17  4541    晟田    52     0     52
18  8255    朋程    34     0     34
19  3264    欣銓    32     0     32

In [ ]:
###(上櫃)
###三大法人買賣總表
###

print('查詢日期:'+ date_ROC)
html1 =urlopen ('https://www.tpex.org.tw/web/stock/3insti/daily_trade/3itrade_hedge_result.php?l=zh-tw&se=AL&t=D&d='+ date_ROC +'&_=1661608482982')
content1 = html1.read().decode('utf-8')
jcontent1 = json.loads(content1) ###利用json把數據整理更好看
data1 = jcontent1['aaData']
data_total = []

for i in range(len(data1)):
  if int(data1[i][4].replace(',','')) > 0 and int(data1[i][13].replace(',','')) > 0:
    data_total.append(data1[i][:5] + data1[i][11:14])
  else:
    continue  


print('外資投信皆買超數量: '+ str(len(data_total)) +' 家')    
data_total = pd.DataFrame(data_total)
data_total.columns = ['代號','名稱','外資買進','外資賣出','外資買賣超','投信買進','投信賣出','投信買賣超']
data_total.insert(2,'產業','')

path = '/content/drive/Shareddrives/python 股票交易/stock_all'
df_uponcase = pd.read_excel(path+'/stock_上櫃.xlsx')

for i in range(len(data_total.index)):
   ###藉由loc把買超股票名稱帶入到上櫃公司代號中找到特定一列
   ###tolist會只把公司產業別轉成list，剩下的index以及其他一些零碎的表示會無視
   try:
     industry_name = df_uponcase['產業別'].loc[df_uponcase["有價證券名稱"]==data_total['名稱'].iloc[i]].tolist()
     data_total['產業'].iloc[i] = industry_name[0]
   except:
     data_total['產業'].iloc[i] = ''  

for i in range(len(data_total.index)):   
  for j in range(3,len(data_total.columns)):
    data_total.iloc[i,j] = int(int(data_total.iloc[i,j].replace(',',''))/1000)

data_total

查詢日期:111/10/31
外資投信皆買超數量: 15 家

      代號    名稱      產業  外資買進  外資賣出 外資買賣超  投信買進 投信賣出 投信買賣超
0   3105    穩懋    半導體業  6554  5054  1500     6    0     6
1   3324    雙鴻   其他電子業   329   132   197    17    0    17
2   3374    精材    半導體業  1082   508   574    11    0    11
3   3558    神準   通信網路業  1544   449  1095   102    0   102
4   3587    閎康   其他電子業   501   150   351   372    0   372
5   3675    德微    半導體業   831   495   336   165    0   165
6   4743    合一   生技醫療業  2277  1725   552    60    0    60
7   5347    世界    半導體業  3103  2387   716   207    0   207
8   6279    胡連  電子零組件業   552   329   223   429   20   409
9   6290    良維  電子零組件業   466   180   286    30    0    30
10  6589  台康生技   生技醫療業   623   379   244   400    0   400
11  6712    長聖   生技醫療業   421    68   353   169    0   169
12  6829  千附精密    電機機械    15    11     4    10    0    10
13  8358    金居  電子零組件業  1950  1443   507  1554    0  1554
14  8916    光隆     其他業  1198  1041   157    60    0    60

In [ ]:
###
###台股盤後指數及成交量
###

print('查詢日期:'+ date)
html1 =urlopen ('https://www.twse.com.tw/exchangeReport/FMTQIK?response=json&date='+ date)
content1 = html1.read().decode('utf-8')
jcontent1 = json.loads(content1) ###利用json把數據整理更好看
#print(jcontent1['fields'])
data1 = jcontent1['data']
data1 = pd.DataFrame(data1)
data1.columns = ['日期', '成交股數', '成交金額', '成交筆數', '發行量加權股價指數', '漲跌點數']

for i in range(len(data1.index)):
  data1.iloc[i,5] = float(data1.iloc[i,5])

def tableColor(val):
    if val > 0:
        color = 'red'
    elif val < 0:
        color = 'green'
    else:
        color = 'white'
    return 'color: %s' % color

###need unique default index(use reset_index)
df_data = data1.reset_index(drop=True).style.applymap(tableColor, subset=['漲跌點數'])
display(df_data)

查詢日期:20221031

In [ ]:
###
###每日成交量前20名證卷
###

def day_trade(date):
#date = '20220816'
    print('查詢日期:'+ date)
    html2 =urlopen ('https://www.twse.com.tw/exchangeReport/MI_INDEX20?response=json&date='+ date)
    content2 = html2.read().decode('utf-8')
    jcontent2 = json.loads(content2) ###利用json把數據整理更好看

    #print(jcontent2['fields'])
    chinese = jcontent2['fields'][0:6]
    chinese.append(jcontent2['fields'][8])
    chinese.append(jcontent2['fields'][10])
    print(chinese)

    data2 = jcontent2['data']
    data2_0 = [ i[:6] for i in data2]

    for i in range(len(data2)):
      data2_0[i].append(data2[i][8])
      if len(data2[i][9]) < 5:
        data2_0[i].append(data2[i][10])
      elif data2[i][9][19] == 'r':
        data2_0[i].append('+'+data2[i][10])
      else:
        data2_0[i].append('-'+data2[i][10])  

    return data2_0
#data2_0

In [ ]:
date = datetime.date.today()
try:
  if date.weekday()>=4:
    if date.weekday()==4:
      mon = date - datetime.timedelta(days=4)
      monday = datetime.date.strftime(mon,"%Y%m%d")
      fri = datetime.date.strftime(date,"%Y%m%d")
      print(monday+'~'+fri)
    else:
      mon = date - datetime.timedelta(days=date.weekday())
      monday = datetime.date.strftime(mon,"%Y%m%d")
      date = date - datetime.timedelta(days=date.weekday()-4)
      fri = datetime.date.strftime(date,"%Y%m%d")
      print(monday+'~'+fri)  
  
 
    day = 1
    most_stock = {}
    while(day<=5):
      date = datetime.date.strftime(mon,"%Y%m%d")
      data = day_trade(date)
      print(data[:5])
      for i in range(len(data)):
        if data[i][2] in most_stock.keys():
          most_stock[data[i][2]] += 1
        else:
          most_stock[data[i][2]] = 1
            
      mon += datetime.timedelta(days=1)
      day += 1
  else:    
    date = datetime.date.strftime(date,"%Y%m%d")
    print('日期'+date)
    data = day_trade(date)
    display(data)   
except:
    if datetime.date.today().weekday() >=4:
      date = datetime.datetime.strptime(date,"%Y%m%d")
      newdate = date - datetime.timedelta(days=1)
      date = datetime.date.strftime(newdate,"%Y%m%d")
    print('wrong date!!')

日期20220915
查詢日期:20220915
['排名', '證券代號', '證券名稱', '成交股數', '成交筆數', '開盤價', '收盤價', '漲跌價差']

[[1, '2409', '友達', '142,287,634', '30,469', '17.30', '18.00', '+0.95'],
 [2, '00632R', '元大台灣50反1', '95,849,914', '5,097', '5.89', '5.88', '-0.01'],
 [3, '3481', '群創', '92,451,873', '17,347', '12.00', '12.30', '+0.35'],
 [4, '00637L', '元大滬深300正2', '57,135,494', '6,684', '16.76', '16.75', '+0.07'],
 [5, '2609', '陽明', '56,030,459', '30,986', '72.00', '72.60', '+0.80'],
 [6, '2367', '燿華', '55,953,793', '22,589', '23.85', '23.65', '+0.05'],
 [7, '6443', '元晶', '55,018,868', '27,955', '41.95', '41.50', '+0.20'],
 [8, '1605', '華新', '51,049,744', '24,955', '40.95', '40.50', '-0.75'],
 [9, '2610', '華航', '46,926,971', '12,194', '22.10', '22.15', '+0.10'],
 [10, '2303', '聯電', '45,562,826', '13,867', '40.40', '40.40', '+0.25'],
 [11, '2388', '威盛', '45,079,834', '24,786', '92.40', '88.50', '-3.90'],
 [12, '00673R', '期元大S&P原油反1', '41,825,928', '3,655', '8.54', '8.52', '-0.17'],
 [13, '2618', '長榮航', '39,929,688', '13,015', '33.60', '33.75', '+0.30'],
 [14, '2105', '正新', '34,879,970', '17,960', '38.00', '38.40', '+0.70'],
 [15, '3047', '訊舟', '33,820,185', '11,807', '18.15', '18.40', '+0.25'],
 [16, '2498', '宏達電', '32,789,604', '17,206', '62.20', '61.30', '-1.30'],
 [17, '6770', '力積電', '32,404,972', '12,846', '32.20', '32.75', '+1.15'],
 [18, '1708', '東鹼', '31,959,410', '17,453', '49.75', '51.80', '+2.75'],
 [19, '2607', '榮運', '27,300,358', '11,855', '31.00', '33.20', '+2.50'],
 [20, '3035', '智原', '27,184,818', '18,537', '169.50', '161.00', '-8.50']]

In [ ]:
try:
  rank_stock = sorted(most_stock.items(),key=lambda x:x[1], reverse=True)
  dic1 = {}
  for i in rank_stock:
    if i[1]>=3:
      if i[1] not in dic1.keys():
        dic1.setdefault(str(i[1]),[])
        dic1[str(i[1])].append(i[0])
      else:
        dic1[str(i[1])].append(i[0])  
    else:
      break
  for x,y in dic1.items():
    print(str(x)+' Days : '+str(y))
except:
  print('Not Friday')

4 Days : ['元大台灣50反1', '聯電', '元大滬深300正2', '宏達電', '友達', '陽明', '燿華', '群創', '長榮航', '國泰永續高股息']
3 Days : ['元晶', '華航', '開發金']

In [ ]:
data_rank20 = day_trade(date)
data_rank20

查詢日期:20220908
['排名', '證券代號', '證券名稱', '成交股數', '成交筆數', '開盤價', '收盤價', '漲跌價差']

[[1, '00632R', '元大台灣50反1', '182,725,585', '6,953', '5.94', '5.93', '-0.05'],
 [2, '00673R', '期元大S&P原油反1', '76,440,714', '4,291', '9.04', '9.05', '+0.22'],
 [3, '2609', '陽明', '65,964,787', '34,529', '70.10', '67.80', '-1.80'],
 [4, '2610', '華航', '56,522,824', '15,248', '21.50', '21.90', '+0.70'],
 [5, '2409', '友達', '55,878,686', '11,405', '17.45', '17.35', '-0.05'],
 [6, '00715L', '期街口布蘭特正2', '55,272,890', '8,729', '16.27', '16.27', '-1.07'],
 [7, '3481', '群創', '52,417,010', '7,719', '11.90', '12.05', '+0.30'],
 [8, '2303', '聯電', '44,927,971', '17,055', '39.70', '39.30', '+0.10'],
 [9, '2618', '長榮航', '43,984,018', '14,230', '32.60', '33.15', '+0.95'],
 [10, '3047', '訊舟', '43,221,581', '14,035', '17.65', '18.20', '+1.10'],
 [11, '2367', '燿華', '40,302,972', '13,523', '23.90', '23.75', '-0.05'],
 [12, '6443', '元晶', '39,033,113', '20,253', '39.45', '41.00', '+2.40'],
 [13, '00637L', '元大滬深300正2', '38,289,983', '3,250', '16.41', '16.38', '+0.13'],
 [14, '2330', '台積電', '35,355,467', '37,943', '473.00', '475.00', '+2.50'],
 [15, '2888', '新光金', '34,024,691', '9,816', '8.41', '8.57', '+0.19'],
 [16, '2890', '永豐金', '32,566,274', '9,292', '17.70', '17.95', '+0.50'],
 [17, '00878', '國泰永續高股息', '31,819,566', '11,898', '16.76', '16.94', '+0.25'],
 [18, '2834', '臺企銀', '30,964,896', '9,988', '12.85', '12.95', '+0.15'],
 [19, '6235', '華孚', '30,150,779', '16,772', '42.05', '40.90', '0.00'],
 [20, '2498', '宏達電', '29,522,989', '13,751', '61.50', '60.80', '+0.40']]

In [ ]:
path = '/content/drive/Shareddrives/python 股票交易/stock_all'
df = pd.read_excel(path+'/stock.xlsx')

name = dic1.items()
#name = ['宏達電','威盛']

df1 = pd.DataFrame(columns = ["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"])
if type(name) != list:
  for x,y in name:
      length = len(y)
      for i in y:
        data = df.loc[df["有價證券名稱"]==i]
        if len(data)==0:
           print(i+' cannot find.')
           length -= 1
           continue
        else:   
           df1 = df1.append(data, ignore_index=True)
      print(x+' days in ranked 20: '+ str(len(y)) +' stocks,but '+ str(length) +' stocks useful.')
      print()
else:
  for x in name:
      data = df.loc[df["有價證券名稱"]==x,]
      if len(data)==0:
          print(x+' cannot find.')
          continue
      else:   
          df1 = df1.append(data, ignore_index=True)
      
df1

元大台灣50反1 cannot find.
元大滬深300正2 cannot find.
國泰永續高股息 cannot find.
4 days in ranked 20: 10 stocks,but 7 stocks useful.

3 days in ranked 20: 3 stocks,but 3 stocks useful.

  有價證券代號 有價證券名稱 市場別     產業別 公開發行/上市(櫃)/發行日
0   2303     聯電  上市    半導體業     1985/07/16
1   2498    宏達電  上市   通信網路業     2002/03/26
2   2409     友達  上市     光電業     2000/09/08
3   2609     陽明  上市     航運業     1992/04/20
4   2367     燿華  上市  電子零組件業     1997/12/13
5   3481     群創  上市     光電業     2006/10/24
6   2618    長榮航  上市     航運業     2001/09/17
7   6443     元晶  上市     光電業     2015/10/01
8   2610     華航  上市     航運業     1993/02/26
9   2883    開發金  上市   金融保險業     2001/12/28